.swiperContainer{
    height: 560px;
}
.image{
    width: 100%;
    position: relative;
    object-fit: cover;
    height: 650px;
    z-index: 1;
}
.adviceBlock{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10vw;
    z-index: 2;
}
.slide{
    display: flex;
    align-items: center;
}
.moreButton{
    width: 200px;
    height: 45px;
    background: #DEC377;
    border-radius: 2px;
    border-color: transparent;
    cursor: pointer;
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.navigation{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    top: -160px;
    max-width: 42px;
    left: 10vw;
}

.adviceType{
    text-align: start;
    margin: 0;
    margin-bottom: 20px;
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
}
.advice{
    text-align: start;
    margin: 0;
    margin-bottom: 50px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1070px) {
    .image{
        object-fit: contain;
        height: auto;
    }
    .swiperContainer{
        height: 30vw;
    }
    .adviceType{
        font-size: 20px;
    }
    .advice{
        font-size: 12px;
    }
    .navigation{
        top: -52%;
    }
}
@media(max-width: 850px){
    .adviceType{
        font-size: 14px;
        margin-bottom: 0;
    }
    .advice{
        font-size: 10px;
    }
}