.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 0 calc(10vw - 10px);
}
.card{
    margin: 0 10px;
    margin-bottom: 30px;
    width: 270px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 40px 20px;
    flex-direction: column;
}
@media (max-width: 1212px) {
    .card{
        flex-grow: 1;
    }
}