.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  100px 10vw;
    background-color: white;
}

.locationLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.location{
    max-width: 670px;
    text-align: start;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}
.link{
    width: 200px;
    height: 45px;
    margin: 0 100px;
    color: #DEC377;
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border: 2px solid #DEC377;
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: center;
}
.partners{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.partnerImg{
    filter: grayscale(1);
}