.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 650px;
}
.Header{
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}
.text{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    text-align: start;
}
.content{
    text-align: start;
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 60px;
    padding-right: 60px;
}
.image{
    height: 100%;
}

@media (max-width: 1460px){
    .container{
        flex-direction: column;
        height: auto;
    }
    .image{
        height: auto;
        width: 100%;
        object-fit: cover;
    }

}