.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 650px;
}
.Header{
    font-family: Commissioner;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}
.text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    text-align: start;
}